{% extends 'form_base.html' %}

{% block form_content %}
<label for="operation">operation</label><br>
<input id="operation" value="None" name="operation" type="text" /><br>
<label for="repo">repo</label><br>
<select id="repo" name="repo">
    <option>target1</option>
</select>
<br>
<label>Rules</label><br>
<ul id="rules-list">
</ul>
<br>
<br style="margin-bottom:5px">

<script>
    let rulesListElem = document.getElementById("rules-list");
    fetch("/list/rules")
        .then(res => {return res.json()})
        .then(data => {
            console.log(data)
            let rules = data["rules"];
            for (let i=0; i<rules.length; ++i)
            {
                let newRuleListElem = document.createElement("li");
                let newRuleListInput = document.createElement("input");
                let newRuleListLabel = document.createElement("label");
                newRuleListInput.setAttribute(
                    "type",
                    "checkbox"
                )

                newRuleListInput.setAttribute(
                    "id",
                    rules[i]
                )

                newRuleListLabel.innerHTML = rules[i]
                newRuleListElem.appendChild(newRuleListInput);
                newRuleListElem.appendChild(newRuleListLabel);
                rulesListElem.appendChild(newRuleListElem);
            }
        });
</script>
{% endblock %}