{% extends 'form_base.html' %}

{% block form_content %}
<label for="operation">operation</label><br>
<input id="operation" value="None" name="operation" type="text" /><br>
<label for="repo">repo</label><br>
<select id="repoSelector" name="repo">
</select>
<br>
<label>Rules</label><br>
<ul id="rules-list">
</ul>
<br>
<br style="margin-bottom:5px">

<script>
    function loadRepos() {
    fetch("/list/repos")
        .then(res => { return res.json() })
        .then(data => {
            let repos = data["repos"];
            let repoSelector = document.getElementById("repoSelector");
            for (let i =0; i<repos.length; ++i)
            {
                let newRepo = repos[i];
                repoSelector.options[repoSelector.options.length] = new Option(newRepo, newRepo);
            }
        });
    }

    function loadRules()
    {
        let rulesListElem = document.getElementById("rules-list");
        fetch("/list/rules")
            .then(res => {return res.json()})
            .then(data => {
                console.log(data)
                let rules = data["rules"];
                for (let i=0; i<rules.length; ++i)
                {
                    let newRuleListElem = document.createElement("li");
                    let newRuleListInput = document.createElement("input");
                    let newRuleListLabel = document.createElement("label");
                    newRuleListInput.setAttribute(
                        "type",
                        "checkbox"
                    )

                    newRuleListInput.setAttribute(
                        "id",
                        rules[i]
                    )

                    newRuleListLabel.innerHTML = rules[i]
                    newRuleListElem.appendChild(newRuleListInput);
                    newRuleListElem.appendChild(newRuleListLabel);
                    rulesListElem.appendChild(newRuleListElem);
                }
            });
    }

    loadRepos();
    loadRu
    les();
    

</script>
{% endblock %}