{% extends 'base.html' %}

{% block content %}
<h1>New Semgrep Job</h1>
<label for="tags">Tags</label><br>
<input id="tags" value="None" name="tags" type="text" /><br>
<br>
<label for="repo">Repository</label><br>
<select id="repoSelector" name="repo">
</select>
<br>
<br>
<label>Rules</label><br>
<ul id="rules-list">
</ul>
<br>
<br style="margin-bottom:5px">
<button id="submit" onclick="submitNewJob()">submit</button>

<script>

    function submitNewJob() {
        let data = {}
        data["repo"] = document.getElementById("repoSelector").value
        data["rules"] = []

        let ruleCheckboxes = document.getElementsByClassName("ruleCheckbox");
        for (let i=0; i<ruleCheckboxes.length; ++i)
        {
            let ruleCheckbox = ruleCheckboxes[i];
            if (ruleCheckbox.checked === true)
            {
                data["rules"].push(ruleCheckbox.id);
            }
        }

        alert(JSON.stringify(data));

        fetch("/newjob", {method: "POST", body:JSON.stringify(data)})
            .then( res => { return res.json() })
            .then( dat => {
                alert(dat.message); 
            })
    }

    function loadRepos() {
    fetch("/list/repos")
        .then(res => { return res.json() })
        .then(data => {
            let repos = data["repos"];
            let repoSelector = document.getElementById("repoSelector");
            for (let i =0; i<repos.length; ++i)
            {
                let newRepo = repos[i];
                repoSelector.options[repoSelector.options.length] = new Option(newRepo, newRepo);
            }
        });
    }

    function loadRules()
    {
        let rulesListElem = document.getElementById("rules-list");
        fetch("/list/rules")
            .then(res => {return res.json()})
            .then(data => {
                console.log(data)
                let rules = data["rules"];
                for (let i=0; i<rules.length; ++i)
                {
                    let newRuleListElem = document.createElement("li");
                    let newRuleListInput = document.createElement("input");
                    let newRuleListLabel = document.createElement("label");
                    newRuleListInput.setAttribute(
                        "type",
                        "checkbox"
                    )

                    newRuleListInput.setAttribute(
                        "id",
                        rules[i]
                    )

                    newRuleListInput.className = "ruleCheckbox";

                    newRuleListLabel.innerHTML = rules[i]
                    newRuleListElem.appendChild(newRuleListInput);
                    newRuleListElem.appendChild(newRuleListLabel);
                    rulesListElem.appendChild(newRuleListElem);
                }
            });
    }

    loadRepos();
    loadRules();
    

</script>
{% endblock %}