{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Job Stats {% endblock %}</h1>
    <div id="jobStatContainer">
        <table id="jobStatCompletedTable">
            <tr>
               <td>
                [COMPLETED]
               </td>
               <td>
                Some_Test_Repo
               </td> 
               <td>
                0
               </td> 
               <td>
                50M3T1M3
               </td>
               <td>
                Tag1, Tag2
               </td>
            </tr>
        </table>
    </div>
{% endblock %}